<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Clipboard</string>
	<key>uuid</key>
	<string>BE9C9F6C-9B0E-492A-8E57-A67D693D9E0D</string>
</dict>
</plist>
